/* 基本設定 */
body {
  font-family:
    "游ゴシック", "ヒラギノ角ゴ ProN", "メイリオ", "MS Pゴシック", sans-serif;
  background: #fff;
}

/* タイトルロゴ */
h1.title {
  color: #217a3a;
  font-size: 2.2rem;
}

h1.title:hover {
  color: #1b5e2b;
}

/* ログアウトボタン */
button.logout-button {
  background-color: #f44336;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
